---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const { post } = Astro.props;

const { Content } = await render(post);

export async function getStaticPaths() {
	const posts = await getCollection('blog');

	return posts.map((post) => ({
		params: {
			slug: (post.data.permalink ?? `/${post.id}/`).replace(/^\//, '').replace(/\/$/, ''),
		},
		props: { post },
	}));
}

const publishedAt = post.data.date.toLocaleDateString('en-CA');
---

<BaseLayout title={`${post.data.title} | Kele's Blog`} description={post.data.description ?? post.data.title}>
	<article class="article">
		<header class="article-header">
			<p class="meta">{publishedAt}</p>
			<h1>{post.data.title}</h1>
			{post.data.tags && post.data.tags.length > 0 && (
				<ul class="tag-list">
					{post.data.tags.map((tag) => (
						<li><a class="tag" href={`/tags/${tag.toLowerCase()}/`}>{tag}</a></li>
					))}
				</ul>
			)}
		</header>
		<Content />
	</article>
</BaseLayout>
